In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./train.csv')
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [5]:
# Drop irrelevant columns
print(df.shape)
df = df.drop(['ID', 'Customer_ID', 'Month', 'Name', 'SSN'], axis=1)
print(df.shape)
df

(100000, 28)
(100000, 23)

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",23.0,...,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",18.0,...,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",27.0,...,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",20.0,...,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,"Auto Loan, and Student Loan",18.0,...,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [6]:
codes = {
    "Occupation": {
        'Accountant': 0,
        'Architect': 1,
        'Developer': 2,
        'Doctor': 3,
        'Engineer': 4,
        'Entrepreneur': 5,
        'Journalist': 6,
        'Lawyer': 7,
        'Manager': 8,
        'Mechanic': 9,
        'Media_Manager': 10,
        'Musician': 11,
        'Scientist': 12,
        'Teacher': 13,
        'Writer': 14,
    },
    'Credit_Mix': {
        'Bad': 0,
        'Good': 1,
        'Standard': 2,
    },
    'Payment_Behaviour': {
        'High_spent_Large_value_payments': 0,
        'High_spent_Medium_value_payments': 1,
        'High_spent_Small_value_payments': 2,
        'Low_spent_Large_value_payments': 3,
        'Low_spent_Medium_value_payments': 4,
        'Low_spent_Small_value_payments': 5
    },
    'Payment_of_Min_Amount': {
        'MN': 0,
        'No': 1,
        'Yes': 2
    },
    'Credit_Score': {
        'Good': 0,
        'Poor': 1,
        'Standard': 2
    }
}

In [7]:
def codeCategory(df):
    for column, mapping in codes.items():
        if column in df.columns:
            df[column] = df[column].map(mapping)
    return df

In [8]:
df = codeCategory(df)
df.to_csv("dataset_coded_v1.csv")

# Appraoch 1: as it is

In [21]:
df = pd.read_csv('./dataset_coded_v1.csv')

In [22]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

label_encoder = LabelEncoder()
df['Type_of_Loan'] = label_encoder.fit_transform(df['Type_of_Loan'])
df['Type_of_Loan']

0        128
1        128
2        128
3        128
4        128
        ...
99995    683
99996    683
99997    683
99998    683
99999    683
Name: Type_of_Loan, Length: 100000, dtype: int32

In [24]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np

# Replace infinite values with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Remove rows containing NaN values
df.dropna(inplace=True)

# Compute correlation coefficients for numerical features
correlation_results = {}

# Assuming all features are numerical (after one-hot encoding)
numerical_features = df.select_dtypes(include=['number'])
for column in numerical_features.columns:
    correlation, p_value = pearsonr(df[column], df['Credit_Score'])
    correlation_results[column] = {'correlation': correlation, 'p_value': p_value}

# Create a DataFrame from correlation_results
correlation_df = pd.DataFrame(correlation_results).T
correlation_df.index.name = 'Feature'

# Print the DataFrame
print(correlation_df)

                          correlation        p_value
Feature
Unnamed: 0                   0.001930   5.669484e-01
Age                         -0.057390   4.317556e-65
Occupation                   0.006283   6.233560e-02
Annual_Income               -0.081030  4.488021e-128
Monthly_Inhand_Salary       -0.079108  3.826457e-122
Num_Bank_Accounts            0.176486   0.000000e+00
Num_Credit_Card              0.113407  1.101855e-249
Interest_Rate                0.120472  1.021491e-281
Num_of_Loan                  0.064442   1.276624e-81
Type_of_Loan                -0.005630   9.488865e-02
Delay_from_due_date          0.097030  5.026666e-183
Num_of_Delayed_Payment       0.202383   0.000000e+00
Changed_Credit_Limit         0.190316   0.000000e+00
Num_Credit_Inquiries         0.065683   1.002803e-84
Credit_Mix                   0.230842   0.000000e+00
Outstanding_Debt             0.036778   9.963770e-28
Credit_Utilization_Ratio    -0.014633   1.418848e-05
Credit_History_Age          -0.101733  4.382698e-201
Payment_of_Min_Amount        0.277364   0.000000e+00
Total_EMI_per_month         -0.058855   2.284634e-68
Amount_invested_monthly     -0.068813   7.928994e-93
Payment_Behaviour            0.025101   9.562601e-14
Monthly_Balance             -0.047456   4.702206e-45
Credit_Score                 1.000000   0.000000e+00

In [25]:
# Sort correlation results based on absolute correlation coefficient and low p-values
significant_features = correlation_df[
    (correlation_df['correlation'].abs() > 0.1) & (correlation_df['p_value'] < 0.05)
].sort_values(by=['correlation'], ascending=False)

# Print the most significant features
print(significant_features)

                        correlation        p_value
Feature
Credit_Score               1.000000   0.000000e+00
Payment_of_Min_Amount      0.277364   0.000000e+00
Credit_Mix                 0.230842   0.000000e+00
Num_of_Delayed_Payment     0.202383   0.000000e+00
Changed_Credit_Limit       0.190316   0.000000e+00
Num_Bank_Accounts          0.176486   0.000000e+00
Interest_Rate              0.120472  1.021491e-281
Num_Credit_Card            0.113407  1.101855e-249
Credit_History_Age        -0.101733  4.382698e-201

# Appraoch 2: Split Type_of_Loan to columns

In [45]:
df = df = pd.read_csv('./dataset_coded_v1.csv')

In [39]:
# Remove 'and' and trim whitespaces
df['Type_of_Loan'] = df['Type_of_Loan'].str.replace(' and ', ', ').str.strip()

# Split multi-values in Type_of_Loan column
loan_types = df['Type_of_Loan'].str.split(', ', expand=True)

# Rename columns
loan_types.columns = [f'Type_of_Loan_{i+1}' for i in range(loan_types.shape[1])]

# Concatenate the original DataFrame with the split columns
df = pd.concat([df, loan_types], axis=1)

# Drop the original Type_of_Loan column
df.drop('Type_of_Loan', axis=1, inplace=True)

# Print the updated DataFrame
df

,Unnamed: 0,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Credit_Score,Type_of_Loan_1,Type_of_Loan_2,Type_of_Loan_3,Type_of_Loan_4,Type_of_Loan_5,Type_of_Loan_6,Type_of_Loan_7,Type_of_Loan_8,Type_of_Loan_9
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,0,Auto Loan,Credit-Builder Loan,"Personal Loan,",Home Equity Loan,None,None,None,None,None
1,1,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,0,Auto Loan,Credit-Builder Loan,"Personal Loan,",Home Equity Loan,None,None,None,None,None
2,2,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,0,Auto Loan,Credit-Builder Loan,"Personal Loan,",Home Equity Loan,None,None,None,None,None
3,3,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,...,0,Auto Loan,Credit-Builder Loan,"Personal Loan,",Home Equity Loan,None,None,None,None,None
4,4,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,...,0,Auto Loan,Credit-Builder Loan,"Personal Loan,",Home Equity Loan,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,...,1,"Auto Loan,",Student Loan,None,None,None,None,None,None,None
99996,99996,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,...,1,"Auto Loan,",Student Loan,None,None,None,None,None,None,None
99997,99997,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,27.0,...,1,"Auto Loan,",Student Loan,None,None,None,None,None,None,None
99998,99998,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,...,2,"Auto Loan,",Student Loan,None,None,None,None,None,None,None
99999,99999,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,...,1,"Auto Loan,",Student Loan,None,None,None,None,None,None,None

In [41]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

label_encoder = LabelEncoder()
for i in range(1,10):
    df[f'Type_of_Loan_{i}'] = label_encoder.fit_transform(df[f'Type_of_Loan_{i}'])

In [42]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np

# Replace infinite values with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Remove rows containing NaN values
df.dropna(inplace=True)

# Compute correlation coefficients for numerical features
correlation_results = {}

# Assuming all features are numerical (after one-hot encoding)
numerical_features = df.select_dtypes(include=['number'])
for column in numerical_features.columns:
    correlation, p_value = pearsonr(df[column], df['Credit_Score'])
    correlation_results[column] = {'correlation': correlation, 'p_value': p_value}

# Create a DataFrame from correlation_results
correlation_df = pd.DataFrame(correlation_results).T
correlation_df.index.name = 'Feature'

# Print the DataFrame
print(correlation_df)

                          correlation        p_value
Feature
Unnamed: 0                   0.001930   5.669484e-01
Age                         -0.057390   4.317556e-65
Occupation                   0.006283   6.233560e-02
Annual_Income               -0.081030  4.488021e-128
Monthly_Inhand_Salary       -0.079108  3.826457e-122
Num_Bank_Accounts            0.176486   0.000000e+00
Num_Credit_Card              0.113407  1.101855e-249
Interest_Rate                0.120472  1.021491e-281
Num_of_Loan                  0.064442   1.276624e-81
Delay_from_due_date          0.097030  5.026666e-183
Num_of_Delayed_Payment       0.202383   0.000000e+00
Changed_Credit_Limit         0.190316   0.000000e+00
Num_Credit_Inquiries         0.065683   1.002803e-84
Credit_Mix                   0.230842   0.000000e+00
Outstanding_Debt             0.036778   9.963770e-28
Credit_Utilization_Ratio    -0.014633   1.418848e-05
Credit_History_Age          -0.101733  4.382698e-201
Payment_of_Min_Amount        0.277364   0.000000e+00
Total_EMI_per_month         -0.058855   2.284634e-68
Amount_invested_monthly     -0.068813   7.928994e-93
Payment_Behaviour            0.025101   9.562601e-14
Monthly_Balance             -0.047456   4.702206e-45
Credit_Score                 1.000000   0.000000e+00
Type_of_Loan_1              -0.007541   2.528997e-02
Type_of_Loan_2              -0.032245   1.096659e-21
Type_of_Loan_3              -0.038539   2.759002e-30
Type_of_Loan_4              -0.047423   5.394574e-45
Type_of_Loan_5              -0.056622   2.081384e-63
Type_of_Loan_6              -0.044980   1.196725e-40
Type_of_Loan_7              -0.036235   5.805306e-27
Type_of_Loan_8              -0.021625   1.404011e-10
Type_of_Loan_9              -0.018408   4.740420e-08

In [43]:
# Sort correlation results based on absolute correlation coefficient and low p-values
significant_features = correlation_df[
    (correlation_df['correlation'].abs() > 0.1) & (correlation_df['p_value'] < 0.05)
].sort_values(by=['correlation'], ascending=False)

# Print the most significant features
print(significant_features)

                        correlation        p_value
Feature
Credit_Score               1.000000   0.000000e+00
Payment_of_Min_Amount      0.277364   0.000000e+00
Credit_Mix                 0.230842   0.000000e+00
Num_of_Delayed_Payment     0.202383   0.000000e+00
Changed_Credit_Limit       0.190316   0.000000e+00
Num_Bank_Accounts          0.176486   0.000000e+00
Interest_Rate              0.120472  1.021491e-281
Num_Credit_Card            0.113407  1.101855e-249
Credit_History_Age        -0.101733  4.382698e-201

# Appraoch 3: comvert Type_of_Loan to its counts

In [51]:
df = df = pd.read_csv('./dataset_coded_v1.csv')

In [52]:
# Count the number of loan types in each entry
df['Type_of_Loan_Count'] = df['Type_of_Loan'].str.count(',') + 1

# Drop the original Type_of_Loan column
df.drop('Type_of_Loan', axis=1, inplace=True)

# Print the updated DataFrame
df['Type_of_Loan_Count']

0        4
1        4
2        4
3        4
4        4
        ..
99995    2
99996    2
99997    2
99998    2
99999    2
Name: Type_of_Loan_Count, Length: 100000, dtype: int64

In [53]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np

# Replace infinite values with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Remove rows containing NaN values
df.dropna(inplace=True)

# Compute correlation coefficients for numerical features
correlation_results = {}

# Assuming all features are numerical (after one-hot encoding)
numerical_features = df.select_dtypes(include=['number'])
for column in numerical_features.columns:
    correlation, p_value = pearsonr(df[column], df['Credit_Score'])
    correlation_results[column] = {'correlation': correlation, 'p_value': p_value}

# Create a DataFrame from correlation_results
correlation_df = pd.DataFrame(correlation_results).T
correlation_df.index.name = 'Feature'

# Print the DataFrame
print(correlation_df)

                          correlation        p_value
Feature
Unnamed: 0                   0.001930   5.669484e-01
Age                         -0.057390   4.317556e-65
Occupation                   0.006283   6.233560e-02
Annual_Income               -0.081030  4.488021e-128
Monthly_Inhand_Salary       -0.079108  3.826457e-122
Num_Bank_Accounts            0.176486   0.000000e+00
Num_Credit_Card              0.113407  1.101855e-249
Interest_Rate                0.120472  1.021491e-281
Num_of_Loan                  0.064442   1.276624e-81
Delay_from_due_date          0.097030  5.026666e-183
Num_of_Delayed_Payment       0.202383   0.000000e+00
Changed_Credit_Limit         0.190316   0.000000e+00
Num_Credit_Inquiries         0.065683   1.002803e-84
Credit_Mix                   0.230842   0.000000e+00
Outstanding_Debt             0.036778   9.963770e-28
Credit_Utilization_Ratio    -0.014633   1.418848e-05
Credit_History_Age          -0.101733  4.382698e-201
Payment_of_Min_Amount        0.277364   0.000000e+00
Total_EMI_per_month         -0.058855   2.284634e-68
Amount_invested_monthly     -0.068813   7.928994e-93
Payment_Behaviour            0.025101   9.562601e-14
Monthly_Balance             -0.047456   4.702206e-45
Credit_Score                 1.000000   0.000000e+00
Type_of_Loan_Count           0.063801   4.892244e-80

In [54]:
# Sort correlation results based on absolute correlation coefficient and low p-values
significant_features = correlation_df[
    (correlation_df['correlation'].abs() > 0.1) & (correlation_df['p_value'] < 0.05)
].sort_values(by=['correlation'], ascending=False)

# Print the most significant features
print(significant_features)

                        correlation        p_value
Feature
Credit_Score               1.000000   0.000000e+00
Payment_of_Min_Amount      0.277364   0.000000e+00
Credit_Mix                 0.230842   0.000000e+00
Num_of_Delayed_Payment     0.202383   0.000000e+00
Changed_Credit_Limit       0.190316   0.000000e+00
Num_Bank_Accounts          0.176486   0.000000e+00
Interest_Rate              0.120472  1.021491e-281
Num_Credit_Card            0.113407  1.101855e-249
Credit_History_Age        -0.101733  4.382698e-201

# Appraoch 4: split Type_of_Loan in rows

In [59]:
df = df = pd.read_csv('./dataset_coded_v1.csv')

In [60]:
# Split the values in the Type_of_Loan column and remove leading/trailing spaces
df['Type_of_Loan'] = df['Type_of_Loan'].str.split(',').apply(lambda x: [t.strip() for t in x])

# Initialize an empty list to store rows
new_data = []

# Iterate over each row in the original DataFrame
for index, row in df.iterrows():
    # For each loan type in the row, create a new row with the same values for other columns
    for loan_type in row['Type_of_Loan']:
        if loan_type.startswith('and '):
            loan_type = loan_type[4:]  # Remove 'and ' from the beginning
        new_row = row.copy()  # Copy values from other columns
        new_row['Type_of_Loan'] = loan_type.strip()  # Add the loan type
        new_data.append(new_row)

# Create a new DataFrame from the list of rows
df = pd.DataFrame(new_data)

df

,Unnamed: 0,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,Auto Loan,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,Credit-Builder Loan,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,Personal Loan,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,Home Equity Loan,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
1,1,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,Auto Loan,...,1,809.98,31.944960,266.0,1.0,49.574949,21.465380,3,284.629162,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,99997,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,Student Loan,...,1,502.38,41.255522,380.0,1.0,35.104023,24.028477,0,516.809083,1
99998,99998,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,Auto Loan,...,1,502.38,33.638208,381.0,1.0,35.104023,24.028477,3,319.164979,2
99998,99998,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,Student Loan,...,1,502.38,33.638208,381.0,1.0,35.104023,24.028477,3,319.164979,2
99999,99999,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,Auto Loan,...,1,502.38,34.192463,382.0,1.0,35.104023,24.028477,1,393.673696,1
99999,99999,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,Student Loan,...,1,502.38,34.192463,382.0,1.0,35.104023,24.028477,1,393.673696,1

In [64]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

label_encoder = LabelEncoder()
df['Type_of_Loan'] = label_encoder.fit_transform(df['Type_of_Loan'])
df

,Unnamed: 0,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,0,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,1,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,8,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
0,0,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,3,...,1,809.98,26.822620,265.0,1.0,49.574949,21.465380,2,312.494089,0
1,1,23.0,12,19114.12,1824.843333,3.0,4.0,3.0,4.0,0,...,1,809.98,31.944960,266.0,1.0,49.574949,21.465380,3,284.629162,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99997,99997,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,9,...,1,502.38,41.255522,380.0,1.0,35.104023,24.028477,0,516.809083,1
99998,99998,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,0,...,1,502.38,33.638208,381.0,1.0,35.104023,24.028477,3,319.164979,2
99998,99998,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,9,...,1,502.38,33.638208,381.0,1.0,35.104023,24.028477,3,319.164979,2
99999,99999,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,0,...,1,502.38,34.192463,382.0,1.0,35.104023,24.028477,1,393.673696,1
99999,99999,25.0,9,39628.99,3359.415833,4.0,6.0,7.0,2.0,9,...,1,502.38,34.192463,382.0,1.0,35.104023,24.028477,1,393.673696,1

In [62]:
import pandas as pd
from scipy.stats import pearsonr
import numpy as np

# Replace infinite values with NaN
df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Remove rows containing NaN values
df.dropna(inplace=True)

# Compute correlation coefficients for numerical features
correlation_results = {}

# Assuming all features are numerical (after one-hot encoding)
numerical_features = df.select_dtypes(include=['number'])
for column in numerical_features.columns:
    correlation, p_value = pearsonr(df[column], df['Credit_Score'])
    correlation_results[column] = {'correlation': correlation, 'p_value': p_value}

# Create a DataFrame from correlation_results
correlation_df = pd.DataFrame(correlation_results).T
correlation_df.index.name = 'Feature'

# Print the DataFrame
print(correlation_df)

                          correlation        p_value
Feature
Unnamed: 0                   0.002458   1.636863e-01
Age                         -0.050989  8.822400e-184
Occupation                   0.004199   1.734521e-02
Annual_Income               -0.065951  2.642034e-306
Monthly_Inhand_Salary       -0.064627  3.481018e-294
Num_Bank_Accounts            0.123552   0.000000e+00
Num_Credit_Card              0.067800   0.000000e+00
Interest_Rate                0.063676  1.232383e-285
Num_of_Loan                  0.066271  2.882573e-309
Type_of_Loan                -0.004372   1.324703e-02
Delay_from_due_date          0.048746  4.013722e-168
Num_of_Delayed_Payment       0.145848   0.000000e+00
Changed_Credit_Limit         0.198604   0.000000e+00
Num_Credit_Inquiries         0.041913  8.847136e-125
Credit_Mix                   0.154373   0.000000e+00
Outstanding_Debt             0.038246  3.238493e-104
Credit_Utilization_Ratio    -0.009236   1.663313e-07
Credit_History_Age          -0.109658   0.000000e+00
Payment_of_Min_Amount        0.239743   0.000000e+00
Total_EMI_per_month         -0.032723   8.653552e-77
Amount_invested_monthly     -0.055647  1.520413e-218
Payment_Behaviour            0.012179   5.150067e-12
Monthly_Balance             -0.050031  5.261274e-177
Credit_Score                 1.000000   0.000000e+00

In [63]:
# Sort correlation results based on absolute correlation coefficient and low p-values
significant_features = correlation_df[
    (correlation_df['correlation'].abs() > 0.1) & (correlation_df['p_value'] < 0.05)
].sort_values(by=['correlation'], ascending=False)

# Print the most significant features
print(significant_features)

                        correlation  p_value
Feature
Credit_Score               1.000000      0.0
Payment_of_Min_Amount      0.239743      0.0
Changed_Credit_Limit       0.198604      0.0
Credit_Mix                 0.154373      0.0
Num_of_Delayed_Payment     0.145848      0.0
Num_Bank_Accounts          0.123552      0.0
Credit_History_Age        -0.109658      0.0